h1 {
    color: #4cd3cb;
    font-size: 4.5rem !important;
    text-align: center;
  }
  
  h2 {
    color: #4cd3cb;
    text-align: center;
  }
  
  h3 {
    color: #4cd3cb;
  }
  
  h4 {
    color: #4cd3cb;
  }
  
  h5 {
    color: #4cd3cb;
  }
  
  h6 {
    color: #4cd3cb;
    padding: 0.5rem;
  }

  #dropped-box {
    margin-top: 1em;
    /* display: flex; */
    justify-content: center;
    border: solid #4cd3cb;
    border-width: 1px 0;
    border-radius: 1em;

    width: 87%;
    padding: 1vw;
  }