
body {
    margin: 0;
}


.nav {
    background-color:#4CD3CA;
    color: black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    font-family: 'Bebas Neue', cursive;
    font-size: large;
    cursor: pointer;
    

}



.nav ul {
    padding-top: 1.75rem; 
    padding-bottom: 1.75rem; 
    padding-left: 0.75rem; /* 12px */
    padding-right: 0.75rem; /* 12px */
    display: flex;
    margin: 0;
    list-style: none;
    gap: 1rem;
    cursor: pointer;
    
    
}


.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0.25rem;

}
.nav li.active {
    background-color: #00FFFF;

}
.nav li:hover{
    background-color: #00FFFF;
}
